@using EventManagement.ApplicationCore.Models
@model Ticket
@{
    Layout = "_TicketStatusLayout";
}
<div class="ticket-status bg-success text-white text-center">
    <div class="container">
        <h1 class="mt-5">Ticket gültig!</h1>
        <i class="icon mt-5 far fa-check-circle"></i>
        <div class="mt-5 d-flex justify-content-center">
            <dl class="details text-left">
                <dt>Event</dt>
                <dd>@Model.Event.Name</dd>
                <dt>Ticket-Nr.</dt>
                <dd>@Model.TicketNumber</dd>
                <dt>Ticket-Typ</dt>
                <dd>@Model.TicketType.Name</dd>
                <dt>Zahlungsstatus</dt>
                <dd>
                    @if (Model.PaymentStatus == PaymentStatus.Open)
                    {
                        <span>Offen</span>
                    }
                    @if (Model.PaymentStatus == PaymentStatus.PaidPartial)
                    {
                        <span>Teilweise bezahlt</span>
                    }
                    else if (Model.PaymentStatus == PaymentStatus.Paid)
                    {
                        <span>Bezahlt</span>
                    }
                </dd>
                @if (!string.IsNullOrEmpty(Model.LastName))
                {
                    <dt>Nachname</dt>
                    <dd>@Model.LastName</dd>
                }
                @if (!string.IsNullOrEmpty(Model.FirstName))
                {
                    <dt>Vorname</dt>
                    <dd>@Model.FirstName</dd>
                }
                @if (!string.IsNullOrEmpty(Model.RoomNumber))
                {
                    <dt>Unterkunft</dt>
                    <dd>@Model.RoomNumber</dd>
                }
                @if (Model.BirthDate != null)
                {
                    TimeSpan diff = DateTime.Today - Model.BirthDate.Value;
                    int age = new DateTime(diff.Ticks).Year - 1;

                    <dt>Alter</dt>
                    <dd>@age</dd>
                }
                <dt>Einverständniserklärung</dt>
                <dd>
                    @if (Model.TermsAccepted == true)
                    {
                        <i class="far fa-check-square"></i>
                    }
                    else
                    {
                        <i class="far fa-square"></i>
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>